				<ng-template #content let-c="close" let-d="dismiss">
				<div class="myModal">
				  <div class="modal-header">
					<h4 class="modal-title" id="modal-basic-title">Créer un évènement :</h4>
					<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					<div class="card bg-light">
					<article class="card-body mx-auto" style="max-width: 400px;">

						<form [formGroup]="eventForm">
						<div class="input-group form-group-no-border input-lg">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-user"></i> </span>
							 </div>
							<input name="" class="form-control"  formControlName="name" placeholder="Full name" type="text">
						</div> <!-- form-group// -->
						<div class="input-group form-group-no-border input-lg">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
							 </div>
							<input name="" class="form-control"  formControlName="description" placeholder="Email address" type="email"  autocomplete="off">
						</div> <!-- form-group// -->
						<div class="input-group form-group-no-border input-lg">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-building"></i> </span>
							</div>
							<select class="form-control" formControlName="starttime" >
								<option selected=""> Select job type</option>
								<option>Designer</option>
								<option>Manager</option>
								<option>Accaunting</option>
							</select>
						</div> <!-- form-group end.// -->
						<div class="input-group form-group-no-border input-lg">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
							</div>
							<input class="form-control" placeholder="Create password" type="password" formControlName="endtime" >
						</div>                            			                                                
					</form>
					</article>
					</div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-primary" (click)="c('Save click')">Ajouter</button>
				  </div>
				 </div>
				</ng-template>	
<div class="wrapper">
 
    <div class="section section-about-us" *ngIf="!(events?.length > 0)">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
					<div class="panel panel-minimal" style="margin-top:10%;">
						<div class="panel-body text-center">
							<i class="now-ui-icons ui-1_calendar-60"  style="font-size: 6em;"></i>
						</div>
						<div class="panel-body text-center">
							<h1 style="font-weight: 100;" class=" text-center fsize32 mb10 mt0">
									Aucun évènements
							</h1>
							<h5 style="font-size: 20px; font-weight: 100; line-height: 1.5em;"  class=" pa10 text-primary text-center ">
									Créer un évènement
							</h5>
								<button (click)="openModal('custom-modal-1')" class=' btn btn-primary mt5 btn-lg' type="button" >
						<i class="ico-ticket"></i>
						Créer
					</button>
						</div>
					</div>
                </div>

			
            </div>
            <div class="separator separator-primary"></div>
        </div>
		
    </div>
        <div class="container"  *ngIf="events?.length > 0">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
					<div class="panel panel-minimal" style="margin-top:10%;">
						<div class="panel-body text-center">
							<h1 style="font-weight: 100;" class=" text-center fsize32 mb10 mt0">
									Vos évènements
							</h1>
							<h5 style="font-size: 20px; font-weight: 100; line-height: 1.5em;"  class=" pa10 text-primary text-center ">
									Créer un évènement
							</h5>
						<button (click)="open(content)"  class=' btn btn-primary mt5 btn-lg' type="button" >
						<i class="ico-ticket"></i>
						Créer
					</button>
						</div>
					</div>
                </div>		
            </div>
            <div class="separator separator-primary"></div>
        </div>
		
<div class="container"  *ngFor="let event of events">
<div class="row" >
<div class="twPc-div">

    <a class="twPc-bg twPc-block"></a>

	<div>
		<a title="Mert S. Kaplan" href="https://twitter.com/mertskaplan" class="twPc-avatarLink">
			<img alt="Mert S. Kaplan" src="assets/img/logo.jpg" class="twPc-avatarImg">
		</a>

		<div class="twPc-divUser">
			<div class="twPc-divName">
				<a>Rave On!</a>
			</div>
			<span>
				<a href="https://twitter.com/mertskaplan">By<span>Fall Industry</span></a>
			</span>
		</div>

		<div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
					<a  title="9.840 Tweet">
						<span class="twPc-StatLabel twPc-block">Participants</span>
						<span class="twPc-StatValue">0</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a title="885 Following">
						<span class="twPc-StatLabel twPc-block">Vente</span>
						<span class="twPc-StatValue">0 €</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
</div>	
</div>
            <div class="separator separator-primary"></div>
</div>	
<!--     <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Romina Hadid</h4>
                            <p class="category text-primary">Model</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ryan Tompson</h4>
                            <p class="category text-primary">Designer</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Eva Jenner</h4>
                            <p class="category text-primary">Fashion</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
