<div class="wrapper">
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
<div class="container-fluid"><br><br>
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Fall Industry</h4>
                      <p class="card-category">Votre profil</p>
                  </div>
                  <div class="card-body">
                          <div class="row">
                              <div class="col-md-5">
                                    <input  class="form-control" placeholder="Company (disabled)" ><br>
                                </div>
                              <div class="col-md-3">
                                    <input  class="form-control" placeholder="Username">
                       
                              </div>
                              <div class="col-md-4">
                                
                                    <input  class="form-control" placeholder="Email address" type="email">
                
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <input  class="form-control" placeholder="Fist Name" type="text"><br>
                              </div>
                              <div class="col-md-6">
                                  <input  class="form-control" placeholder="Last Name" type="text">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <input class="form-control"  placeholder="Adress" type="text"><br>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <input  class="form-control" placeholder="City" type="text"><br>
                              </div>
                              <div class="col-md-4">
                                  <input class="form-control"  placeholder="Country" type="text">
                              </div>
                              <div class="col-md-4">
                                  <input class="form-control"  placeholder="Postal Code" type="text">
  
                              </div>
                          </div>
                          <button type="submit" class="btn btn-primary btn-round pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                  
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo"><br>
                          <img class="img" src="./assets/img/logo.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
                </div>
            </div>
            <div class="separator separator-primary"></div>
        </div>
    </div>
	
<!--     <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Romina Hadid</h4>
                            <p class="category text-primary">Model</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ryan Tompson</h4>
                            <p class="category text-primary">Designer</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Eva Jenner</h4>
                            <p class="category text-primary">Fashion</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
