<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banner.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
			<br><br><br>
                <div class="photo-container">
                    <img src="assets/img/logo.jpg" alt="">
                </div>
                <h2 class="title">RAVE ON ! Fall Industry</h2>
                <h4 class="category">LE BIKINI, TOULOUSE</h4>
                <div class="content">
                        <h3>26 / 02 / 2018 - 22h / 7h</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="button-container">
              <a href="#button" class="btn btn-primary btn-round btn-lg">Acheter des billets</a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Facebook">
                <i class="fab fa-facebook"></i>
              </a>
          </div>
          <h3 class="title">Description</h3>
          <h4 class="description">
		  Après l'énorme succès de la première édition, LA soirée RAVE au Bikini est de retour.<br>
Le mouvement rave connait désormais un renouveau incontestable au niveau mondial et depuis la première édition au Bikini nous souhaitons lui faire honneur. RAVE ON ! c'est le temps d'une soirée, un espace de liberté, de tolérance et d'amour entre le public, les artistes et nous. Portés par notre musique commune : la Techno, dans tout ce qu'elle a de plus riche et divers.  
<br><br>
<b>FJAAK (Live)</b>  – Pour la première fois en live au Bikini, le duo allemand le plus fumé du techno game vient nous présenter leur nouveau projet, qui promet de vous transporter dans l’authentique esprit des raves berlinoises.
<br><br>
<b>AZF</b> -  La "braqueuse de l'underground français incarne à nos yeux l'esprit rave dans tout ce qu'il a de bon. Rupture conventions musicales, ses dj sets riches et puissants ne laissent personnes sur la touche. 
<br><br>
<b>747 </b> - C'est une véritable pépite que l’on vous propose là. Le nouveau prince de l'acid techno, très remarqué depuis à peine un an, explose tous les compteurs. Il a su renouveler le style à sa manière avec élégance et profondeur. Une exclusivité à ne pas manquer.
Esprit libre et ouvert attendez vous à ce que la RAVE soit TOTALE  !<br>
		  </h4>

          <h3 class="title">Billets</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-12 col-md-12">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">CATEGORIE 1 -  PLEIN TARIF</a></h4>
                                <span>Status: </span><span class="text-danger"><strong>Sold out</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td class="col-md-6">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">PCATEGORIE 3 - PLEIN TARIF</a></h4>
                                <span>Status: </span><span class="text-success"><strong>Disponible</strong></span>
                            </div>
                        </div></td>
                        <td class="col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                        </td>
                        <td class="col-md-1 text-center"><strong>$4.99</strong></td>
                        <td class="col-md-1 text-center"><strong>$9.98</strong></td>
                        <td class="col-md-1">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>21€</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Frais de gestion</h5></td>
                        <td class="text-right"><h5><strong>0,50€</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>31.53</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Retour aux évènements
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-primary">
                            Paiement <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center">Médias</h3>
                      <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons media-1_album"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-12 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/event1.jpg" alt="" class="img-raised">
                                              <img src="assets/img/event2.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/event3.jpg" alt="" class="img-raised">
                                              <img src="assets/img/event4.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons media-1_camera-compact"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-12 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <iframe width="345" height="230" src="https://www.youtube.com/embed/1B_Yl2pXVv0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                             <iframe width="345" height="230" src="https://www.youtube.com/embed/1B_Yl2pXVv0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                              </div>
                                          <div class="col-md-6">
                                              <iframe width="345" height="230" src="https://www.youtube.com/embed/1B_Yl2pXVv0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                              <iframe width="345" height="230" src="https://www.youtube.com/embed/1B_Yl2pXVv0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                </div>
            </div>
        </div>
    </div>

