<div class="wrapper">
 
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
					<div class="panel panel-minimal" style="margin-top:10%;">
						<div class="panel-body text-center">
							<i class="now-ui-icons shopping_shop"></i>
						</div>
						<div class="panel-body text-center">
							<h1 style="font-weight: 100;" class=" text-center fsize32 mb10 mt0">
									Aucun évènements
							</h1>
							<h5 style="font-size: 20px; font-weight: 100; line-height: 1.5em;"  class=" pa10 text-primary text-center ">
									Créer un évènement
							</h5>
								<button data-invoke="modal" data-modal-id='CreateTicket' data-href="http://attendize.website/event/6864/tickets/create" href='javascript:void(0);'  class=' btn btn-primary mt5 btn-lg' type="button" >
						<i class="ico-ticket"></i>
						Créer
					</button>
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
						</div>
					</div>
                </div>
            </div>
            <div class="separator separator-primary"></div>
        </div>
    </div>
	
<!--     <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Romina Hadid</h4>
                            <p class="category text-primary">Model</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ryan Tompson</h4>
                            <p class="category text-primary">Designer</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Eva Jenner</h4>
                            <p class="category text-primary">Fashion</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
